USE [db_supermarket]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 4/7/2018 4:15:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PID] [int] NULL,
	[PNAME] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PRODUCT] ([PID], [PNAME]) VALUES (100, N'DOVE')
GO
INSERT [dbo].[PRODUCT] ([PID], [PNAME]) VALUES (300, N'SONY PHONE')
GO
INSERT [dbo].[PRODUCT] ([PID], [PNAME]) VALUES (300, N'SONY PHONE')
GO
